<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>snapshot-repo</id>
      <username>admin</username>
      <password>password</password>
    </server>
    <server>
      <id>release-repo</id>
      <username>admin</username>
      <password>password</password>
    </server>
    <server>
      <id>central-repo</id>
      <username>admin</username>
      <password>password</password>
    </server>
    <server>
      <id>nexus-group-repo</id>
      <username>admin</username>
      <password>password</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central-repo</id>
      <name>central-repo</name>
      <url>http://3.110.177.85:8081/repository/my</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
 
